<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oAuth2LoginConfig" type="ConfigurationSectionDesigner.OAuth2LoginConfig, ConfigurationSectionDesigner, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<oAuth2LoginConfig xmlns="urn:ConfigurationSectionDesigner">
    <web acceptedRedirectUrl="~/Account/LoginSuccess" failedRedirectUrl="~/Account/LoginFail" proxy="" />
    <profiles currentProfile="p1">
      <profile name="p1" isTestSystem="true"/>
      <profile name="p2" isTestSystem="false"/>
    </profiles>
  </oAuth2LoginConfig>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>