<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oAuth2LoginConfig" type="ConfigurationSectionDesigner.OAuth2LoginConfig, ConfigurationSectionDesigner, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<oAuth2LoginConfig xmlns="urn:ConfigurationSectionDesigner">
    <web acceptedRedirectUrl="~/Account/LoginSuccess" failedRedirectUrl="~/Account/LoginFail" proxy="" />
    <profiles currentProfile="p1">
      <profile name="p1" isTestSystem="true"/>
      <profile name="p2" isTestSystem="false"/>
    </profiles>
    <!--<oauth appName="autoprofi">
      <google name="Google"
         clientid="6sdfsdf80cr1ak.apps.googleusercontent.com"
         clientsecret="sdfsdfsd"
         callbackUrl="/Account/Callback/Google"
         scope="https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile" />

      <facebook name="Facebook"
           clientid="sdf"
           clientsecret="sdfsdf"
           callbackUrl="/Account/Callback/Facebook"
           scope="public_profile,email" />
    </oauth>

    <oauth appName="autofit">
      <google name="Google"
         clientid="6sdfgfgfg0drbv80cr1ak.apps.googleusercontent.com"
         clientsecret="dghfgjhfhj"
         callbackUrl="/Account/Callback/Google"
         scope="https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile" />

      <facebook name="Facebook"
           clientid="dfgdfgrdg"
           clientsecret="dfgdfg"
           callbackUrl="/Account/Callback/Facebook"
           scope="public_profile,email" />
    </oauth>-->

  </oAuth2LoginConfig>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>